*.zip
.idea
__pycache__/
.venv
test-kong.ipynb
test-jaejung.ipynb
test.ipynb
temp

# train
train/data
train/log
train/weights
train/wandb
train/temp

./react-app/node_modules
./node_modules
node_modules