*.zip
.idea
__pycache__/
.venv
test-kong.ipynb
test-jaejung.ipynb
test.ipynb
temp

# train-and-experiment
train-and-experiment/data
train-and-experiment/log
train-and-experiment/weights
train-and-experiment/wandb
train-and-experiment/temp

./react-app/node_modules
./node_modules
node_modules

dataset/*
images/*
node-server/views/static/
react-app/src/joinform.js